---
layout: home
---

<div class="row">
	<div class="col mb-3">
		<h2 class="text-center">Entrenamientos</h2>

    <div class="row row-cols-1 row-cols-xl-4 row-cols-md-3 g-4">
		{% for item in site.entrenamientos %}
			{% if item.topic == page.title %}
			<div class="col">
				<div class="card h-100 mb-3">
					<a
						href="{{  item.file | relative_url }}"
						target="_blank"
						rel="noopener noreferrer"
						title="{{item.alttext}}"
					>
						<img
							height="150px"
							style="object-fit: contain;"
							class="card-img-top border-bottom bg-white"
							src="{{  item.thumbnail | relative_url }}"
							alt="{{ item.title }}">
					</a>
					<div class="card-body">
						<a
							href="{{  item.file | relative_url }}"
							target="_blank"
							title="{{ item.alttext }}"
							class="card-link"
							rel="noopener noreferrer"
						> {{ item.title }}</a>
						<p class="card-text text-muted">
							Autor(es): {{ item.author }}
							<br>
							Año de publicación: {{ item.year }}
						</p>
					</div>
					<div class="card-footer text-body-secondary text-end"
					>Nivel: {{ item.level }}</div>
				</div>
			</div>
			{% endif %}
		{% endfor %}
    </div>
  </div>
</div>






