---
layout: default
---


<div class="container mt-3">

{%- if page.title -%}
    <div class="row">
	    <div class="col">
		    <div class="p-lx-5 p-3 mb-4 bg-body-tertiary rounded-3 text-center"</div>
			    <div class="container-fluid py-3 py-xl-5 d-flex justify-content-between">
				    <h1 class="display-5 fw-bold">{{ page.title }}</h1>
				    {%- if page.logo-title -%}
				    <img src="{{ page.logo-title }}" alt="Logo" width="auto" height="70">
				    {%- endif -%}
			    </div>
		    </div>
	    </div>
    </div>				
{%- endif -%}


{{ content }}

</div>
